* {
  font-family: "Rubik";
  color: #333333;
}
/*
-----------------=============--------------
                   Navigation Bar
-------------------=============--------------
*/
.header {
  display: flex;
}
.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #fdf2e9;
  height: 90px;
}
a {
  color: #333333;
  text-decoration: none;
  font-size: 18px;
}
ul {
  display: flex;
  list-style-type: none;
  gap: 24px;
}
li {
  font-weight: 500;
  margin-top: 18px;
}
.nav-btnlink {
  background-color: #d9480f;
  color: #fff;
  margin-right: 70px;
  padding: 12px 20px;
  border-radius: 8px;
}
.nav-btnlink:hover {
  color: #fff;
  background-color: #e8590c;
  transition: 500ms all;
}
a:hover {
  color: #d9480f;
  transition: 500ms all;
}
.omnifoodlogo {
  display: inline-block;
  width: 150px;
  height: 25px;
  margin-top: 30px;
  margin-left: 70px;
}
.omnifoodlogo:active {
  border: 10px solid #ffd8a8;
}

/*
---------===============----------
         first section
---------===============----------
*/
.section {
  padding: 48px 100px 150px 100px;
  background-color: #fdf2e9;
}
.hero-box {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}
.big-p {
  margin-bottom: 60px;
  font-size: 50px;
}
.small-p {
  color: #495057;
  font-size: 20px;
  margin-bottom: 50px;
}

.heroimg {
  width: 600px;
  height: 600px;
}
.mealscustomer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.customers {
  display: flex;
}

.customers img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
  margin-top: 90px;
}

.customers img:last-child {
  margin: 0;
  margin-top: 90px;
}

.text {
  font-size: 18px;
  font-weight: 600;
  margin-top: 100px;
}

.text span {
  color: #e8590c;
  font-weight: 700;
}

.eatwell {
  background-color: #e8590c;
  color: #fff;
  padding: 15px 25px;
  border-radius: 8px;
}
.eatwell:hover {
  color: #fff;
  background-color: #f76707;
  transition: 500ms all;
}
.learnmore {
  background-color: #fff;
  margin-left: 50px;
  color: #333333;
  padding: 15px 25px;
  border-radius: 8px;
}

.learn-icon {
  background-color: #fff;
  width: 18px;
  height: 18px;
  stroke: #333333;
}
.learnmore:hover,
.learn-icon:hover {
  color: #333333;
  background-color: rgba(255, 255, 255, 0.574);
  border: 5px solid #fff;
  transition: 500ms all;
}

/*
---------============----------
            Logo-feature
---------===========----------
*/
.featured-p {
  color: #888888;
  text-align: center;
}
.featur-logo {
  display: flex;
  gap: 50px;
  justify-content: center;
}
.logoimg {
  height: 50px;
  width: 200px;
  filter: brightness(0);
  opacity: 60%;
}
/*
---------=================----------
          steps section
---------=================----------
*/
.text-hiw {
  font-size: 20px;
  color: #cf711f;
  margin-left: 200px;
  margin-top: 150px;
  margin-bottom: 0;
  margin-right: 0;
}
.stephead {
  font-size: 40px;
  margin-left: 200px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

/*======step01========*/
.step-text {
  display: flex;
  width: 75%;
  gap: 100px;
}
.steps {
  width: 100%;
}
.step1 {
  font-size: 90px;
  color: #dddddd;
  margin-left: 200px;
  margin-bottom: 0;
  font-weight: bold;
}
.heading-s1 {
  font-size: 30px;
  margin-left: 200px;
}
.p-step1 {
  color: #55556b;
  margin-left: 200px;
}
.step1-img {
  margin-top: 80px;
  width: 60%;
}
.background01 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background01::before,
.background01::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.background01::before {
  width: 90%;
  padding-bottom: 90%;
  background-color: #fdf2e9;
  z-index: -2;
}

.background01::after {
  width: 70%;
  padding-bottom: 70%;
  background-color: #fae5d3;
  z-index: -1;
}
/*======step02========*/
.background02 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 130px;
}
.background02::before,
.background02::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.background02::before {
  width: 100%;
  padding-bottom: 100%;
  background-color: #fdf2e9;
  z-index: -2;
}

.background02::after {
  width: 80%;
  padding-bottom: 80%;
  background-color: #fae5d3;
  z-index: -1;
}
.step2-img {
  margin-top: 80px;
  width: 70%;
}
.step2 {
  font-size: 90px;
  color: #dddddd;
  margin-bottom: 0;
  font-weight: bold;
}
.heading-s2 {
  font-size: 30px;
}
.p-step2 {
  color: #55556b;
}
/*
---------=================----------
          cards section1
---------=================----------
*/
.meal-t {
  color: #cf711f;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
}
.mealhead {
  font-size: 40px;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}
.container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  padding: 2px 10px;
  cursor: pointer;
  font-weight: bold;
}
.tag-teal {
  background-color: #51cf66;
}
.tag-veg {
  background-color: #94d82d;
}
.tag-paleo {
  background-color: #ffd43b;
}
.h2-jepanese {
  margin: 0;
}
.cardlist {
  display: inline;
}
.cardlist-item {
  color: #555555;
}
.cardlist-item span {
  font-weight: bold;
}
.icon {
  vertical-align: middle;
  margin-right: 10px;
  stroke: #e98e3e;
  width: 24px;
  height: 24px;
}
.unordered-list {
  display: inline;
}
.ul-list {
  display: inline;
}
.ul-list-item {
  margin: 0;
  margin-bottom: 10px;
}
.chek-icon {
  stroke: #cf711f;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0;
}
.h1-wwad {
  margin: 0;
}
.link-arrow {
  text-align: center;
}
.see-icon {
  vertical-align: middle;
  width: 24px;
  height: 24px;
}
.see-icon:hover {
  stroke: #cf711f;
}
/*
---------=================----------
          User comments
---------=================----------
*/
.User-comments {
  display: grid;
  grid-template-columns: 55fr 45fr;
  background-color: #fdf2e9;
  align-items: center;
}
.tetimonials-h4 {
  color: #cf711f;
  margin-left: 40px;
}
.tetimonials-h1 {
  font-size: 40px;
  margin-left: 40px;
}
.commnets {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}
.commnet-img {
  width: 50px;
  border-radius: 50%;
}
.text-comment {
  color: #555555;
  font-size: 20px;
}
.username {
  color: #555555;
  font-size: 18px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.gallery__item {
  overflow: hidden;
}
.gallery__item img {
  display: block;
  transition: all 0.4s;
}
.gallery__img {
  width: 100%;
  height: 100%;
}
.gallery__img:hover {
  transform: scale(1.1);
}
/*
---------=================----------
          pricing section
---------=================----------
*/
.twobox {
  width: 100%;
  display: flex;
  gap: 50px;
  justify-content: center;
}
.fbox {
  width: 350px;
  height: 500px;
  border: 4px solid #fdf2e9;
  border-radius: 8px;
}
.sbox {
  width: 350px;
  height: 500px;
  background-color: #fdf2e9;
  border-radius: 8px;
}

.sc-text {
  color: #cf711f;
  text-align: center;
}
.h1-sbox {
  text-align: center;
}
.h1-sbox span {
  font-size: 45px;
}
.p-box {
  text-align: center;
  color: #555555;
}
.ulboxli {
  display: flex;
  flex-direction: column;
}
.ulboxli-item {
  color: #555555;
}
.sew {
  color: #fff;
  padding: 10px 15px;
  background-color: #d9480f;
  border-radius: 8px;
}
.sew:hover {
  color: #fff;
  background-color: #cf711f;
  transition: all 500ms;
}
.centersetlink {
  margin-top: 70px;
  text-align: center;
}
.pricing-p {
  color: #cf711f;
  margin-top: 100px;
  margin-left: 150px;
}
.eatw-h1 {
  margin-top: 0;
  margin-bottom: 100px;
  margin-left: 150px;
  font-size: 40px;
}
/*
---------=================----------
          pricing section
---------=================----------
*/
.prices-p {
  margin-top: 100px;
  text-align: center;
}
.plans {
  display: flex;
}
.icon-fig {
  width: 40px;
  height: 40px;
}
